.accordion {
    width: 100%;
    float: left;
    border: 1px solid #5b865c;
    margin-bottom: 10px;
    height: 29px;
}

.accordion.is-active {
    height: auto !important;
}

.accordion > .accordion-header {
    width: 100%;
    background-color: #5b865c;
}

.accordion .accordion-header i, .accordion .accordion-header h5 {
    padding: 7px;
    float: left;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.accordion-body, .accordion-body .columns {
    width: 100% !important;
}

.accordion-body .accordion {
    margin: 15px;
}

.accordion.is-active > .accordion-body {
    display: block !important;
}

.accordion > .accordion-body {
    display: none;
}

.accordion.is-active > .accordion-header {
    height: 28px;
}

.accordion > .accordion-header {
    height: 28px;
}

.icon-right::before {
   content: "\f061";
   font: normal normal normal 14px/1 FontAwesome;
    color: #000;
    bottom: 0;
    height: 28px;
    width: 60px;
    z-index: 1;
    margin-right: 10px;
}

.icon-down::before {
    content: "\f063";
    font: normal normal normal 14px/1 FontAwesome;
     color: #000;
     bottom: 0;
     height: 28px;
     width: 60px;
     z-index: 1;
     margin-right: 10px;
 }