<section class="accordions">
  <article class="accordion" *ngFor="let d of data">
    <div class="accordion-header toggle">
         <h5 class="title is-7 icon-right">{{ d.desc }}</h5>
    </div>
    <div class="accordion-body">
        <div class="columns">
          <div class="column">
            <div class="columns" *ngIf="d.points.length > 0">
              <div class="column" >
                  <div class="tags has-addons" *ngFor="let c of d.points">
                    <span class="tag"><p><b>{{ c.name }} </b></p> </span>
                    <span class="tag has-text-white" [class.is-primary]="compare(c.value, c.rule, c.threshold)" [class.is-danger]="!compare(c.value, c.rule, c.threshold)">
                      <p *ngIf="bit.type=='d'"> <b>{{ c.value }}</b> </p>
                      <p *ngElse>&nbsp;&nbsp;&nbsp;</p>
                    </span>
                    <span class="tag" *ngIf="bit.type=='d'"><b><p> {{ c.rule }} {{ c.threshold }} </p></b> </span>
                  </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <app-cbit [data]="d.children" *ngIf="d.children.length > 0"></app-cbit>
                </div>
            </div>
          </div>
          
          
          
        </div>  
    </div>
  </article>
</section>
