<app-navbar *ngIf="logged"></app-navbar>
<div class="columns">
    <div class="column hero is-fullheight is-grey-lighter">
        <div class="columns">
            <div class="sidebar" *ngIf="logged">
                <app-sidebar></app-sidebar>
            </div>
            <div class="content">
                <div class="columns" *ngIf="logged">
                    <div class="column hero is-white is-three-quarters">
                        <div class="tabs is-boxed">
                            <ul>
                                <li [class.is-active]="painel == 1" (click)="painel = 1">
                                    <a> <span>Painel 1</span> </a>
                                </li>
                                <li [class.is-active]="painel == 2" (click)="painel = 2">
                                    <a> <span>Painel 2</span> </a>
                                </li>
                                <li [class.is-active]="painel == 3" (click)="painel = 3">
                                    <a> <span>Painel 3</span> </a>
                                </li>
                                <li [class.is-active]="painel == 4" (click)="painel = 4">
                                    <a> <span>Painel 4</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column hero is-white">
                        <a class="button is-danger is-medium">
                            <span class="icon">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </span>
                            <span>Botão de emergência</span>
                        </a>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

 

