<div class="columns">
    <div class="column">
        <header class="hero is-primary">
            <div class="hero-head">
                <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item is--brand">
                            <img class="navbar-brand-logo" src="/assets/images/logo.png" alt="Bulma Admin Template logo"> 
                        </a>
                    </div>
                    <div class="navbar-menu navbar-end" id="navMenu"> 
                        <a class="navbar-item nav-tag">
                            <span class="icon is-small has-badge-rounded has-badge-danger" data-badge="6"><i class="fa fa-bell" aria-hidden="true"></i> </span>
                        </a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                    <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i> &nbsp; {{ auth.username | titlecase }}
                            </a>
                            <div class="navbar-dropdown is-right">
                                <a class="navbar-item" (click)="logout()">
                                    <span class="icon is-small">
                                        <i class="fa fa-power-off"></i> 
                                    </span>&nbsp; Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
</div>