<h5 class="title is-5">HABILITAR/DESABILITAR TRANSMISSÃO</h5>
<div class="columns">
  <div class="column is-three-quarters hero is-white">
      <div class="field">
        <input id="state" type="checkbox" class="switch is-rounded is-success" [(ngModel)]="state" (click)="changeState()">
        <label for="state"></label>
      </div>
  </div>
  <div class="column is-size-7 hero is-white">
    <b>Situação em {{ data }}</b> 
  </div>
</div>

