<section class="hero is-fullheight is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <article class="card is-rounded">
          <div class="card-content">
            <h1 class="title hero is-primary">     
              <img class="navbar-brand-logo" src="/assets/images/logo.png" alt="IMR SABER M200" width="150"> 
            </h1>
            <p class="control has-icon">
              <input class="input" type="text" placeholder="Usuário" [(ngModel)]="LoginModel.username">
              <i class="fa fa-envelope"></i>
            </p>
            <p class="control has-icon">
              <input class="input" type="password" placeholder="Password" [(ngModel)]="LoginModel.password">
              <i class="fa fa-lock"></i>
            </p>
            <p class="control">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </p>
            <p class="control">
              <button class="button is-primary is-medium is-fullwidth" (click)="login()">
                <i class="fa fa-user"></i>
                Login
              </button>
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>