<h5 class="title is-5">BIT</h5>
<div class="columns hero is-white">
  <div class="column">
    <div class="columns">
      <div class="column is-10">
        <h6 class="title is-7">Controle de BIT</h6>
        <div class="field">
          <input id="state" type="checkbox" class="switch is-rounded is-success" [(ngModel)]="state">
          <label for="state"></label>
        </div>
      </div>
      <div class="column" *ngIf="state">
        <h6 class="title is-7">Forçar BIT</h6>
        <a class="button is-danger is-medium" (click)="emit()">
          <span>BIT Forçado</span>
        </a>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-10">
        <h6 class="title is-7">Ajustar taxa atualização</h6>
        <div class="field has-addons">
          <div class="control">
            <input class="input" type="text">
          </div>
          <div class="control">
            <a class="button is-primary">
              Aplicar
            </a>
          </div>
        </div>
      </div>
      <div class="column is-right">
        <h6 class="title is-7">Taxa de atualização</h6>
        <p class="title is-4">10s</p>
      </div>
    </div>
    <hr>
    <div *ngIf="state">
      <div class="columns">
          <div class="column">
            <h6 class="title is-7">Visualização do BIT</h6>
          </div>
        </div>
        <div>
        <div class="columns">
          <div class="column">
            <a class="button" [class.is-primary]="type=='s'" (click)="type='s'">Sumarizado</a>
            <a class="button" [class.is-primary]="type=='d'" (click)="type='d'">Detalhado</a>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <app-cbit [data]="bit.data"></app-cbit>
          </div>
        </div>
    </div>
  </div>
</div>