<nav class="menu">
    <span *ngFor="let menuItem of menuItems">
        <p class="menu-label" > {{ menuItem.section }} </p>
        <ul class="menu-list hero is-white">
            <li *ngFor="let item of menuItem.routes"><a href="#{{ item.path }}"> {{ item.data.routeName }}</a></li>
        </ul>
    </span>
</nav>