/* You can add global styles to this file, and also import other style files */

$primary: #143e15;


@import "bulma";
@import "../node_modules/bulma-badge/dist/css/bulma-badge.min.css";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.min.css";

.navbar-dropdown {
    background-color: #143e15;
}
.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #143e15;
}
.sidebar{
    width: 250px !important;
    float: left;
    padding: 15px 5px 5px 15px;
}

.sidebar li a {
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
}

.menu-label {
    padding: 0.75em 0.75em 0.05em;
    font-weight: bolder;
}

.is-grey-lighter {
    background-color: #E8E8E8;
}

.content {
    width: calc(100% - 252px);
    float: left;
    height: 500px;
    padding: 25px;
}

.tabs.is-boxed li.is-active a {
    background-color: #143e15 !important;
    border-color: #143e15 !important;
}
